@charset "utf-8";

body {
font-family:Verdana,sans-serif;
font-size-adjust:auto;
}

p {
margin:auto;
background:white;
padding:7px;
font-size:2.7vw;
}
select{
width: 100%;
}
img,video {
border-radius: 4%;
}

.responsive{
width: 50%;
display:block;
margin-left:auto;
margin-right:auto;
}
.selectz {
width: 15%;
position: fixed;
top: 150;
left: 22;
margin-top: 5px;
margin-bottom: 5px;
}
#imagendoc{
position: fixed;
top: 18;
right: 20;
}

.content {
margin: 10px 50px 5px 50px;
padding: 5px;
}
.contentp {
width: 90%;
margin: auto;
margin-top: 5px;
}
.contenidop {
width: 90%;
margin: auto;
margin-top: 5px;
margin-bottom: 5px;
background-color: rgb(140, 180, 240);
}
.contenedor {
width: 90%;
background-color: rgb(240, 240, 240);
margin: auto;
margin-top: 5px;
margin-bottom: 15px;
}

#contador {
width: 45%;
margin: auto;
font-size: 11px;
background-color: rgb(240, 240, 240);
border: 2px solid black;
border-radius: 6px;
margin-top: 5px;
margin-bottom: 5px;
padding: 10px;
}
#contadorresultado {
width: 45%;
margin: auto;
font-size: 11px;
background-color: rgb(240, 240, 240);
border: 2px solid black;
border-radius: 6px;
margin-top: 5px;
margin-bottom: 5px;
padding: 10px;
display: none;
}

.buscarfichero{
width:1%;
position: fixed;
top: 10;
left: 20;
}
.escanearimagen {
width: 1%;
position: fixed;
top: 60;
left: 20;
}
.camara {
width: 1%;
height: 40px;
position: fixed;
top: 400;
right: 40;
}
.camaratest {
width: 1%;
height: 40px;
position: fixed;
top: 150;
left: 20;
}

#canvasdiv{
position:fixed;
top:0;
left:100;
width:60%;
height:auto;
}
#canvas {
position:fixed;
top:100;
left:60;
width:70%;
height:auto;
}
#canvass {
width: 100%;
margin: auto;
}

#capacamara{
width: 70%;
position:fixed;
top:100;
height: auto;
visibility:hidden;
}
#video {
width: 70%;
position:fixed;
top:100;
height: auto;
margin-right:50px;
margin-left:50px;
}
#salida{
width: 70%;
position:fixed;
top:100;
height: auto;
}
#photo {
width: 70%;
position:fixed;
top:100;
height: auto;
margin-left:50px;
}

.chose-image-small {
width: 50px;
vertical-align: middle;
margin: -3px 3px 0 0;
}
.chosen-container{
margin-bottom: 0px;
}